:root {
  --main-bg-color: white;
}

body {
  background-color: var(--main-bg-color);
}

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap {
  flex: 1;
}